{% extends 'base.html' %}

{% block content %}
<section class="gallery-block grid-gallery">
	<div class="container">
		<div class="heading">
			<h2>Grid Gallery</h2>
		</div>
		<div class="row">
			<div class="col-md-6 col-lg-4 item">
				<a class="lightbox" href="https://res.cloudinary.com/dpnaptcei/image/upload/v1537070505/Gallery/image1.jpg">
        	<img class="img-fluid image scale-on-hover" src="https://res.cloudinary.com/dpnaptcei/image/upload/v1537070505/Gallery/image1.jpg">
        </a>
			</div>
			<div class="col-md-6 col-lg-4 item">
				<a class="lightbox" href="https://res.cloudinary.com/dpnaptcei/image/upload/v1537070507/Gallery/image2.jpg">
        	<img class="img-fluid image scale-on-hover" src="https://res.cloudinary.com/dpnaptcei/image/upload/v1537070507/Gallery/image2.jpg">
        </a>
			</div>
			<div class="col-md-6 col-lg-4 item">
				<a class="lightbox" href="https://res.cloudinary.com/dpnaptcei/image/upload/v1537070506/Gallery/image3.jpg">
        	<img class="img-fluid image scale-on-hover" src="https://res.cloudinary.com/dpnaptcei/image/upload/v1537070506/Gallery/image3.jpg">
        </a>
			</div>
			<div class="col-md-6 col-lg-4 item">
				<a class="lightbox" href="https://res.cloudinary.com/dpnaptcei/image/upload/v1537070505/Gallery/image4.jpg">
        	<img class="img-fluid image scale-on-hover" src="https://res.cloudinary.com/dpnaptcei/image/upload/v1537070505/Gallery/image4.jpg">
        </a>
			</div>
			<div class="col-md-6 col-lg-4 item">
				<a class="lightbox" href="https://res.cloudinary.com/dpnaptcei/image/upload/v1537070506/Gallery/image5.jpg">
					<img class="img-fluid image scale-on-hover" src="https://res.cloudinary.com/dpnaptcei/image/upload/v1537070506/Gallery/image5.jpg">
        </a>
			</div>
			<div class="col-md-6 col-lg-4 item">
				<a class="lightbox" href="https://res.cloudinary.com/dpnaptcei/image/upload/v1537070508/Gallery/image6.jpg">
        	<img class="img-fluid image scale-on-hover" src="https://res.cloudinary.com/dpnaptcei/image/upload/v1537070508/Gallery/image6.jpg">
        </a>
			</div>
			<div class="col-md-6 col-lg-4 item">
				<a class="lightbox" href="https://res.cloudinary.com/dpnaptcei/image/upload/v1537070509/Gallery/image7.jpg">
        	<img class="img-fluid image scale-on-hover" src="https://res.cloudinary.com/dpnaptcei/image/upload/v1537070509/Gallery/image7.jpg">
        </a>
			</div>
			<div class="col-md-6 col-lg-4 item">
				<a class="lightbox" href="https://res.cloudinary.com/dpnaptcei/image/upload/v1537070510/Gallery/image8.jpg">
        	<img class="img-fluid image scale-on-hover" src="https://res.cloudinary.com/dpnaptcei/image/upload/v1537070510/Gallery/image8.jpg">
        </a>
			</div>
			<div class="col-md-6 col-lg-4 item">
				<a class="lightbox" href="https://res.cloudinary.com/dpnaptcei/image/upload/v1537070507/Gallery/image9.jpg">
        	<img class="img-fluid image scale-on-hover" src="https://res.cloudinary.com/dpnaptcei/image/upload/v1537070507/Gallery/image9.jpg">
        </a>
			</div>
		</div>
	</div>
</section>
{% endblock %}
</body>
</html>
