{% extends 'base.html' %}

{% block content %}
<section class="gallery-block grid-gallery">
	<div class="container">
		<div class="heading">
      <h3 class=" mt-5 teal text-center mb-4">Grid Gallery</h3>
		</div>
    <div class="row">
      <div class="gallery-container">
        <div class="gallery-grid">
          <img src="../static/images/image1.jpg" alt="Image 1" class="gallery-image">
          <img src="../static/images/image2.jpg" alt="Image 2" class="gallery-image">
          <img src="../static/images/image3.jpg" alt="Image 3" class="gallery-image">
          <img src="../static/images/image4.jpg" alt="Image 1" class="gallery-image">
          <img src="../static/images/image5.jpg" alt="Image 2" class="gallery-image">
          <img src="../static/images/image6.jpg" alt="Image 3" class="gallery-image">
          <img src="../static/images/image5.jpg" alt="Image 2" class="gallery-image">
          <img src="../static/images/image6.jpg" alt="Image 3" class="gallery-image">
          <!-- Add more images as needed -->
        </div>
      </div>
    </div>
    <!-- Overlay for main image -->
  <div id="overlay" class="overlay">
    <span class="close-btn" onclick="closeOverlay()">&times;</span>
    <div class="overlay-content">
      <img src="" alt="Main Image" id="mainImageOverlay" class="main-image-overlay">
    </div>
    <span class="carousel-btn prev-btn" onclick="prevImage()">&#10094;</span>
    <span class="carousel-btn next-btn" onclick="nextImage()">&#10095;</span>
  </div>
    </div>
</section>

  {% endblock %}
</body>
</html>
