{% extends 'base.html' %}

{% block content %}

  <section class="ftco-section">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-md-6 col-lg-5">
          <div class="login-wrap p-4 p-md-5">
            <div class="icon d-flex align-items-center justify-content-center">
              <i class="fa fa-user" aria-hidden="true"></i>
            </div>
            <h3 class="text-center mb-4">Have an account?</h3>
            <form id="login-form" method="POST" action="/">
              <!-- <div class="input-group"> -->
              <label for="username">Username:</label>
              <div class="form-group">
                <input type="text" class="form-control" id="username" name="username" value="" placeholder="Enter Username" required>
              </div>
              <!-- <div class="input-group"> -->
              <label for="password">Password:</label>
              <div class="form-group d-flex">
                <input type="password" class="form-control" id="password" name="password" placeholder="Enter Password" required>
              </div>
              <div class="d-grid gap-2">
                <button id="login-btn" class="btn btn-primary mt-3 p-3 px-5">Login</button>
                <div class="w-50 text-left mb-3">
                  <a href="/register" class="register-link" class = "text-center">Don't have an account? Sign up</a>
                </div>
              </div>
              {% if error %}
              <div class="errormsg">
              {{ error }}
              </div>
              {% endif %}
            </form>
          </div>
        </div>
      </div>
    </div>
  </section>
{% endblock %}
{% set hide_navbar = True %}
